# 回測結果
SignalRadar/backtests/

# 編譯輸出
**/bin/
**/obj/

# IDE 設定
**/.vs/
**/.idea/
**/.vscode/

# Lean storage
storage/

# 其他
*.ipynb
report.html
/lean.json
/DataConverter/config.json
/SignalRadar/live
/DataConverter/Properties/launchSettings.json
/Launcher/Data
/Launcher/config.json
/SignalRadar/config.json
/.claude
/SignalRadar/DbConfig.cs
